apiVersion: v1
kind: ConfigMap
metadata:
  name: test-provider
  namespace: zpf
data:
  application.yml: |-
    server:
      port: 8080
      servlet:
        context-path: /provider
    spring:
      application:
        name: user-provider
    mybatis:
      type-aliases-package: org.tubetrue01.pojo
      configuration:
        map-underscore-to-camel-case: true
        default-statement-timeout: 6000
    ---
    spring:
      profiles: dev
      datasource:
        url: jdbc:mysql://192.168.0.112:3306/test?allowMultiQueries=true&serverTimezone=Asia/Shanghai&useSSL=false&autoReconnect=true&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull
        password: root
        username: root
    ---
     spring:
       profiles: pro
       datasource:
          url: jdbc:mysql://192.168.0.112:3306/cloud?allowMultiQueries=true&serverTimezone=Asia/Shanghai&useSSL=false&autoReconnect=true&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull
          password: root
          username: root
